<component name="libraryTable">
  <library name="server">
    <CLASSES>
      <root url="jar://$USER_HOME$/Documents/MC Server/1.16.5 Spigot/server.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/Documents/MC Server/1.16.5 Spigot/server.jar!/" />
    </SOURCES>
  </library>
</component>